
        html { scroll-behavior: smooth; }
        *{
            /* background-color: #0a192f; */
            background-color: white;
            color: black;
            /* color: #8892b0; */

            font-family: Roboto Mono;
            
    
            /* padding-bottom: 1000px; */
            /* font-family: Arial, Helvetica, sans-serif; */
        }
        p{
            margin: 0;
            padding: 0;
        }
        body{
            padding-top: 60px;
            padding-left: 80px;
            height: 3000px;
            padding-right: 80px;
            
        }
        header{
            height: 80px;
            
            /* background-color: gray; */
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            

            
        }
        .logo{
            /* background-color: aqua; */
            width: 200px;
            height: 80px;
            
            
        }
        .nav-bar{
            /* background-color: aquamarine; */
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;
            
            padding-right: 50px;
            padding-top: 10px;
            text-decoration: none;
            
            
        } 
        ul{
            display: flex;
            list-style-type: none;
            gap: 50px;
            padding-right: 50px;
            /* text-decoration: none; */
            
        }   
        li{
            font-size: 14px;
            /* text-decoration: none; */
        }
        li a{
            text-decoration: none;
        }
        li a:hover{
            color: blueviolet;
            transition: 0.15s;

        }
        li a:active{
            color: blueviolet;
        }
        
        .profile{
            
            margin-left: 35px;
            margin-top: 25px;
            width: 50px;
            border-radius: 25px;
        }
        .resume{
            padding: 10px 10px ;
            border-style: solid;
            /* border-color: #64ffda; */
            /* color: #64ffda; */
            border-color: blueviolet;
            color: blueviolet;
            border-width: 1px;
            border-radius: 2px;
            cursor: pointer;
            transition: 0.15s;
        }
        .resume:hover{
            background-color: blueviolet;
            color: white;
            
        }
        .left{
            /* background-color: #64ffda; */
            width: 70px;
            color: white;
            position: fixed;
            left: 0;
            bottom: 0;
            top: 100px;
        }
        .right{
            /* background-color: #64ffda; */
            width: 70px;
            color: white;
            position: fixed;
            right: 0;
            bottom: 0;
            top: 100px;

        }
        .center{
            /* background-color: pink; */
            color: white;
            margin-top: 40px;
        }
        .part1{
            padding-bottom: 100px;
            padding-top: 100px;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
        }
        .part1-l1 p{
                width:150px;
            margin-bottom: 20px;
            color: blueviolet;
        }
        .part1-l2 p{
                width:500px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 60px;
            font-weight: bold;
            color: rgb(21, 21, 21);
        }
        .part1-l3 p{
                width:500px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 50px;
            font-weight: bold;
            color: rgb(78, 76, 76);
            padding-bottom: 20px;

        }
        .part1-l4 p{
            font-size: 16px;
            /* width: 480px; */
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
        }
        .github,.twitter,.linkedin{
            width: 50px;
            height: 50px;
            /* background-color: bisque; */
            margin-left: 25px;
            margin-top: 10px;
        }
        
        
        .vl2{
            border-left: 4px solid blueviolet;
            height: 500px;
            margin-left: 45px;
        }
        .vl1{
            border-left: 4px solid blueviolet;
            height: 500px;
            margin-left: 35px;
        }
        
        .social-icons{
            /* background-color: red; */
            height: 200px;
            display: flex;
            flex-direction: column;
            padding-top: 170px;
            padding-left: 10px;
        }
        
        .mail{
            padding-left:  28px;
            padding-top: 180px;
            writing-mode: vertical-rl;
            font-size: 14px;
            padding-bottom: 30px;
        }
        .part2{
            
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .about{
            display: flex;
        }
        .about p{
            font-size: 30px;
            font-weight: bold;
            padding-left: 50px;

        }
        .hr{
            border-top: 1px solid rgb(182, 133, 227);
            width: 200px;
        
            margin-left: 20px;
            margin-top: 20px;
        }
        .part2-l2{
            display: flex;
            flex-direction: row;

        }
        .part2-l2 p{
            font-size: 16px;
            /* width: 480px; */
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
            padding-left: 50px;
            padding-top: 30px;
            

        }
        .part2-l3 p{
            font-size: 16px;
            
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
            padding-left: 50px;
            padding-top: 0px;
            
            

        }
        .part2-l4 p{
            font-size: 16px;
            /* width: 480px; */
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
            padding-left: 50px;
            padding-top: 0px;
            

        }
        .profile2{
            /* width: 150px;
            height: 150px; */
            object-fit: cover;
            object-position: center;
            margin-top: 38px;
            margin-left: 40px;
            border-radius: 10px;
            
        }
        .part2-l2 img{
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
            height: 200px;
            opacity: 0.5;
            transition: margin-top 0.3s;
            transition: margin-left 0.3s;
            
        }
        .part2-l2 img:hover{
            opacity: 1;
            margin-top: 20px;
            margin-left: 20px;

        }
        /* .part2-l2 img:hover{
            margin-top: 20px;
            margin-left: 20px;
            
            
            transition: 0.15s;

        } */
        /* .border:hover{
            margin-top: 0px;
            margin-left: 10px;
            transition: 0.15s;
            
        } */
        .border{
            border-radius: 10px;
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            width: 200px;
            height: 200px;
            background-color: blueviolet;
            
            
            
        }
        ul.skill-list{
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 200px));
            gap: 0px 10px;
            padding-left: 50px;
            padding-top: 10px;
            margin: 10px 0 0;
            overflow: hidden;
            list-style: none;
        }
        ul.skill-list li{
            position: relative;
            margin-bottom: 10px;
            color: blueviolet;
            
            
        }
        /* Part 3 */
        .part3{
            
            padding-top: 100px;
            padding-bottom: 100px;
            
            
        }
        .worked{
            display: flex;
        }
        .worked p{
            font-size: 30px;
            font-weight: bold;
            padding-left: 50px;

        }
        .hr2{
            border-top: 1px solid rgb(182, 133, 227);
            width: 145px;
        
            margin-left: 20px;
            margin-top: 20px;
        }
        .locked{
            
            background-color: rgba(255, 255, 255, 0.8);
            width: 550px;
            height: 400px;
            margin-left: 50px;
            margin-top: 50px;
            position: relative;
            
        }
        .locked img{
            width: 550px;
            height: 400px;
            opacity: 0.06;
        }
        .lock{
            position: absolute;
            right: 250px;
            bottom: 200px;
            border-style: none;
            

        }
        .bar1{
            position: absolute;
            top: 180px;
            margin-left: 40px;
            border-top: 1px solid rgb(182, 133, 227);
            width: 200px;
        }
        .bar2{
            position: absolute;
            top: 178px;
            right: 30px;
            border-top: 1px solid rgb(182, 133, 227);
            width: 200px;
        }
        /* Part 4 */
        .part4{
            
            padding-top: 100px;
            padding-bottom: 100px;
            
            
        }
        .work{
            display: flex;
        }
        .hr3{
            border-top: 1px solid rgb(182, 133, 227);
            width: 50px;
        
            margin-left: 20px;
            margin-top: 20px;
        }
        .work p{
            font-size: 30px;
            font-weight: bold;
            padding-left: 50px;

        }


        /* container1 */
        .part4-container1{
            position: relative;
            margin-top: 100px;
            margin-left: 50px;
            width: 600px;
            height: 300px;
            /* background-color: aqua; */
        }
        .blur1{
            position: absolute; 
            width: 350px;
            height: 250px;
            margin-top: 53px;
            /* background-color: blueviolet; */
        }
        .part4-container1 img{
            opacity: 0.8;
            transition: 0.15s;
        }
        .part4-container1 img:hover{
            opacity: 1;
        }
        .project1{
            width: 350px;
            margin-top: 0px;
            
            
        }
        .part4-l1{
            position: absolute;
            top: 0px;
            right: 70px;
            font-size: 12px;

        }
        .part4-l2{
            position: absolute;
            top: 25px;
            font-weight: bold;
            
            right: 70px;
            
            
            }
            .part4-l2 a{
                text-decoration: none;
            }
        
        .part4-l2 p:hover{
            color: blueviolet;
        }

        .description{
            position: absolute;
            
            height: 150px;
            left: 130px;
            top: 80px;
            width: 400px;
            background-color:   blueviolet;
            border-radius: 5px;
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);
        }
        .description p{
            margin-top: 20px;
            margin-left: 15px;
            color: white;
            background-color: blueviolet;
            
        }
        .p1-icons{
            display: flex;
            position: absolute;
            bottom: 20px;
            right: 100px;
            
            
            
        }
        .p1-icons a{
            margin-left: 20px;
        }

        /* container2 */
        .part4-container2{
            position: relative;
            margin-top: 100px;
            margin-left: 50px;
            width: 600px;
            height: 300px;
            /* background-color: aqua; */
        }
        .blur2{
            position: absolute; 
            right: 20px;
            width: 350px;
            height: 250px;
            margin-top: 53px;
            /* background-color: blueviolet; */
        }
        .part4-container2 img{
            opacity: 0.8;
            transition: 0.15s;
            position: absolute;
            right: 50px;
        }
        .part4-container2 img:hover{
            opacity: 1;
        }
        .project2{
            width: 350px;

            margin-top: 0px;
            
            
        }
        .part4-l1-2{
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 12px;

        }
        .part4-l2-2{
            position: absolute;
            top: 25px;
            font-weight: bold;
            
            left: 0px;
            
            
            }
            .part4-l2-2 a{
                text-decoration: none;
            }
        
        .part4-l2-2 p:hover{
            color: blueviolet;
        }

        .description2{
            position: absolute;
            
            height: 150px;
            right: 185px;
            top: 80px;
            width: 415px;
            background-color:   blueviolet;
            border-radius: 5px;
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);
        }
        .description2 p{
            margin-top: 20px;
            margin-left: 15px;
            color: white;
            background-color: rgb(138, 43, 226);
            
        }
        .p1-icons-2{
            display: flex;
            position: absolute;
            bottom: 20px;
            left: 0px;
            
            
            
        }
        .p1-icons-2 a{
            margin-left: 20px;
        }

        /* Part 5 */
        .part5{
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .part5-l1{
            /* background-color: aqua; */
            text-align: center;
            padding-bottom: 20px;
            color: blueviolet;
        }
        .part5-l2{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 50px;
            font-weight: bold;
            color:black;
            padding-bottom: 20px;
            text-align: center;
            
        }
        .part5-l3{
            text-align: center;
            width: 550px;
            padding-left: 5%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
        }
        .contact{
            margin-top: 50px;
            margin-left: 42%;
            padding: 10px 10px ;
            border-style: solid;
            /* border-color: #64ffda; */
            /* color: #64ffda; */
            border-color: blueviolet;
            color: blueviolet;
            border-width: 1px;
            border-radius: 2px;
            cursor: pointer;
            transition: 0.15s;
        }
        .contact:hover{
            background-color: blueviolet;
            color: white;
        }
        .part5-l4{
            padding-left: 25px;
            font-size: 13px;
            padding-top: 200px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .part5-l3-1{
            text-align: center;
            margin-top: 30px;
            text-decoration: none;

        }
        .part5-l3-1 p{
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            font-size: 12px;
            color: blueviolet;
        }
        @media (min-width:1000px){
            .part1{
                padding-left: 180px;
                padding-top: 80px;
            }
            .part1-l2 p{
                font-size: 80px;
            } 
            .part1-l3 p{
                font-size: 70px;
            } 
            .part1-l4 p{
                 width: 480px; 
            }   
            .part2{
                padding-left: 180px;
                padding-top: 200px;
            }
            .hr{
                width: 330px;
            }
            .part2-l2 p{
                font-size: 18px;
                width: 500px;
                
            }
            .part2-l3 p{
                font-size: 18px;
                width: 500px;
                
            }
            .part2-l4 p{
                font-size: 18px;
                width: 500px;
                
            }
            .part2-l2{
                padding-bottom: 0;
                margin-bottom: -180px;
            }
           
            ul.skill-list li{
                font-size: 16px;
            }
            .border{
            margin-left: 50px;
            margin-top: 30px;
            width: 300px;
            height: 300px;
            }
            .part2-l2 img{
            margin-top: 20px;
            margin-left: 20px;
            width: 300px;
            height: 300px;
            opacity: 0.5;
            transition: margin-top 0.3s;
            transition: margin-left 0.3s;
            
        }
        .part2-l2 img:hover{
            opacity: 1;
            margin-top: 30px;
            margin-left: 30px;

        }
        .part3{
            padding-left: 300px;
        }
        .hr2{
            width: 280px;
        }
        .locked{
            
           
            width: 650px;
            
            
        }
        .locked img{
            width: 650px;
            
        }
        .lock{
            position: absolute;
            right: 300px;
            
            
            

        }
        .bar1{
            position: absolute;
            top: 180px;
            margin-left: 40px;
            border-top: 1px solid rgb(182, 133, 227);
            width: 200px;
        }
        .bar2{
            position: absolute;
            top: 178px;
            right: 30px;
            border-top: 1px solid rgb(182, 133, 227);
            width: 200px;
        }
        .part4{
            
            padding-left: 120px;
            
        }
        .part4-container1{
            width: 1000px;
            /* background-color: aqua; */
            height: 350px;
        }
        /* Container 1 */

        .hr3{
            width: 300px;
        }
        .project1{
            width: 500px;
            position: absolute;
            
            top: 0px;
            
            
            
            
        }
        .blur1{
            position: absolute;
            top: -55px;
            height: 350px;
            
            width: 500px;
            
        }
        .description{
            position: absolute;
            
            
            left: 420px;
            top: 80px;
            width: 565px;
            
        }
        .description p{
            margin-top: 35px;
          
            
        }
        .p1-icons{
            display: flex;
            position: absolute;
            bottom: 40px;
            right: 30px;
            
            
            
        }

        /* Container 2 */
        .hr3{
            width: 300px;
        }
        .project2{
            width: 500px;
            position: absolute;
            
            top: 0px;
            
            
            
            
        }
        .blur2{
            position: absolute;
            top: -55px;
            height: 350px;
            
            width: 500px;
            
        }
        .description2{
            position: absolute;
            
            
            left: 0px;
            top: 80px;
            width: 575px;
            
        }
        .description2 p{
            margin-top: 35px;
          
            
        }
        .p1-icons-2{
            display: flex;
            position: absolute;
            bottom: 0px;
            right: 30px;
            width: 100px;
            
            
            
        }
        .part4-container2 img{
            
            position: absolute;
            left: 400px;
        }
        .part4-container1{
            
            margin-top: 70px;
            
            /* background-color: aqua; */
        }
        .part4-container2{
            
            margin-top: 70px;
            
            /* background-color: aqua; */
        }
        .part5-l3{
            text-align: center;
            width: 550px;
            padding-left: 30%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 25px;
        }
        .contact{
            margin-top: 50px;
            margin-left: 47%;
        }
        .part5-l4{
            font-size: 13px;
            padding-top: 200px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .part4-container1,.part4-container2{
            
            margin-top: 100px;
            
        }
            
        }

        
        
       
    
